@charset "utf-8";

/*============================================================
default rem & grid style
============================================================*/

/* 공통 */

.content_btn {
  text-align: center;
  padding: 0 0 16.25rem;
}

.content_btn a {
  display: block;
  width: 25rem;
  font-size: 1.5rem;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
  background: #008bd0;
}

/* sub1 */
.launching_cont_form_title {
  padding: 0 0 1.25rem;
  font-size: 1.25rem;
  color: #152286;
  font-weight: 700;
  border-bottom: 2px solid #152186;
}

.star {
  font-style: normal;
  color: #3c8aca;
}

/* //sub1 */

/* //공통 */

.wrap1170 {
  max-width: 1170px;
  margin: 0 auto;
}

/* 모달 body 스크롤 방지 */
.stop_scroll {
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 100%; /* 16px */
}
body {
  margin: 0 auto;
  font-family: "Noto Sans Korean", "Nanum Gothic", "Malgun Gothic", "돋움", "dotum", "AppleGothic", Helvetica, Arial, Sans-Serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.5px;
}

@media (max-width: 1199.98px) {
  html {
    font-size: 87.5%;
    /* 14px */
  }
}

@media (max-width: 991.98px) {
  html {
    font-size: 75%;
    /* 12px */
  }
}

@media (max-width: 767.98px) {
  html {
    font-size: 62.5%;
    /* 10px */
  }
}

@media (max-width: 575.98px) {
  html {
    font-size: 50%;
    /* 8px */
  }
}

/* 팝업 레이아웃 */
.popup_wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.popup_wrap.on {
  display: block;
}
.popup_wrap .popup {
  position: relative;
  width: 64.37rem;
  background: #f4e8e4;
  padding: 3.12rem 3.75rem;
  margin: 5rem auto;
}
/* tip 반응형시  .popup_wrap .popup - width: calc(100% - 40px); 하면 간격 유지하면서 줄어듬 */
/* 내용  ul > li > dl > dt > dd 로 해도됨 */

/* 스크롤바
::-webkit-scrollbar : 스크롤바 전체
::-webkit-scrollbar-thumb : 스크롤 막대
::-webkit-scrollbar-track : 스크롤 막대 외부
앞에는 스크롤바 생성한 클래스

.popup_cont_wrap::-webkit-scrollbar { width: 25px; }
.popup_cont_wrap::-webkit-scrollbar-thumb { background-color: #532d1a; }
.popup_cont_wrap::-webkit-scrollbar-track {  background-color: #f4e8e4; }
*/

/*============================================================
layout align
============================================================*/
.ovf-hidden {
  overflow: hidden;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}
.flex-row {
  flex-direction: row;
}
.flex-row__rv {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-col__rv {
  flex-direction: column-reverse;
}
.flex-spc__btw {
  justify-content: space-between;
}
.flex-spc__ard {
  justify-content: space-around;
}
.flex-spc__cnt {
  justify-content: center;
}
.flex-spc__end {
  justify-content: flex-end;
}
.flex-align__top {
  align-items: flex-start;
}
.flex-align__cnt {
  align-items: center;
}
.flex-align__btm {
  align-items: flex-end;
}

/*============================================================
padding & margin
============================================================*/
/* padding
============================================================*/
.p0 {
  padding: 0 !important;
}
.pt0 {
  padding-top: 0 !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.pl0 {
  padding-left: 0 !important;
}
.pr0 {
  padding-right: 0 !important;
}
.p5 {
  padding: 0.31rem !important;
}
.pt5 {
  padding-top: 0.31rem !important;
}
.pb5 {
  padding-bottom: 0.31rem !important;
}
.pl5 {
  padding-left: 0.31rem !important;
}
.pr5 {
  padding-right: 0.31rem !important;
}
.p10 {
  padding: 0.62rem !important;
}
.pt10 {
  padding-top: 0.62rem !important;
}
.pb10 {
  padding-bottom: 0.62rem !important;
}
.pl10 {
  padding-left: 0.62rem !important;
}
.pr10 {
  padding-right: 0.62rem !important;
}
.p15 {
  padding: 0.93rem !important;
}
.pt15 {
  padding-top: 0.93rem !important;
}
.pb15 {
  padding-bottom: 0.93rem !important;
}
.pl15 {
  padding-left: 0.93rem !important;
}
.pr15 {
  padding-right: 0.93rem !important;
}
.p20 {
  padding: 1.25rem !important;
}
.pt20 {
  padding-top: 1.25rem !important;
}
.pb20 {
  padding-bottom: 1.25rem !important;
}
.pl20 {
  padding-left: 1.25rem !important;
}
.pr20 {
  padding-right: 1.25rem !important;
}
.p25 {
  padding: 1.56rem !important;
}
.pt25 {
  padding-top: 1.56rem !important;
}
.pb25 {
  padding-bottom: 1.56rem !important;
}
.pl25 {
  padding-left: 1.56rem !important;
}
.pr25 {
  padding-right: 1.56rem !important;
}
.p30 {
  padding: 1.87rem !important;
}
.pt30 {
  padding-top: 1.87rem !important;
}
.pb30 {
  padding-bottom: 1.87rem !important;
}
.pl30 {
  padding-left: 1.87rem !important;
}
.pr30 {
  padding-right: 1.87rem !important;
}
.p35 {
  padding: 2.18rem !important;
}
.pt35 {
  padding-top: 2.18rem !important;
}
.pb35 {
  padding-bottom: 2.18rem !important;
}
.pl35 {
  padding-left: 2.18rem !important;
}
.pr35 {
  padding-right: 2.18rem !important;
}
.p40 {
  padding: 2.5rem !important;
}
.pt40 {
  padding-top: 2.5rem !important;
}
.pb40 {
  padding-bottom: 2.5rem !important;
}
.pl40 {
  padding-left: 2.5rem !important;
}
.pr40 {
  padding-right: 2.5rem !important;
}
.p45 {
  padding: 2.81rem !important;
}
.pt45 {
  padding-top: 2.81rem !important;
}
.pb45 {
  padding-bottom: 2.81rem !important;
}
.pl45 {
  padding-left: 2.81rem !important;
}
.pr45 {
  padding-right: 2.81rem !important;
}
.p50 {
  padding: 3.12rem !important;
}
.pt50 {
  padding-top: 3.12rem !important;
}
.pb50 {
  padding-bottom: 3.12rem !important;
}
.pl50 {
  padding-left: 3.12rem !important;
}
.pr50 {
  padding-right: 3.12rem !important;
}
.p55 {
  padding: 3.43rem !important;
}
.pt55 {
  padding-top: 3.43rem !important;
}
.pb55 {
  padding-bottom: 3.43rem !important;
}
.pl55 {
  padding-left: 3.43rem !important;
}
.pr55 {
  padding-right: 3.43rem !important;
}
.p60 {
  padding: 3.75rem !important;
}
.pt60 {
  padding-top: 3.75rem !important;
}
.pb60 {
  padding-bottom: 3.75rem !important;
}
.pl60 {
  padding-left: 3.75rem !important;
}
.pr60 {
  padding-right: 3.75rem !important;
}
.p65 {
  padding: 4.06rem !important;
}
.pt65 {
  padding-top: 4.06rem !important;
}
.pb65 {
  padding-bottom: 4.06rem !important;
}
.pl65 {
  padding-left: 4.06rem !important;
}
.pr65 {
  padding-right: 4.06rem !important;
}
.p70 {
  padding: 4.37rem !important;
}
.pt70 {
  padding-top: 4.37rem !important;
}
.pb70 {
  padding-bottom: 4.37rem !important;
}
.pl70 {
  padding-left: 4.37rem !important;
}
.pr70 {
  padding-right: 4.37rem !important;
}
.p75 {
  padding: 4.68rem !important;
}
.pt75 {
  padding-top: 4.68rem !important;
}
.pb75 {
  padding-bottom: 4.68rem !important;
}
.pl75 {
  padding-left: 3.75rem !important;
}
.pr75 {
  padding-right: 3.75rem !important;
}
.p80 {
  padding: 5rem !important;
}
.pt80 {
  padding-top: 5rem !important;
}
.pb80 {
  padding-bottom: 5rem !important;
}
.pl80 {
  padding-left: 5rem !important;
}
.pr80 {
  padding-right: 5rem !important;
}
.p85 {
  padding: 5.31rem !important;
}
.pt85 {
  padding-top: 5.31rem !important;
}
.pb85 {
  padding-bottom: 5.31rem !important;
}
.pl85 {
  padding-left: 5.31rem !important;
}
.pr85 {
  padding-right: 5.31rem !important;
}
.p90 {
  padding: 5.62rem !important;
}
.pt90 {
  padding-top: 5.62rem !important;
}
.pb90 {
  padding-bottom: 5.62rem !important;
}
.pl90 {
  padding-left: 5.62rem !important;
}
.pr90 {
  padding-right: 5.62rem !important;
}
.p95 {
  padding: 5.93rem !important;
}
.pt95 {
  padding-top: 5.93rem !important;
}
.pb95 {
  padding-bottom: 5.93rem !important;
}
.pl95 {
  padding-left: 5.93rem !important;
}
.pr95 {
  padding-right: 5.93rem !important;
}
.p100 {
  padding: 6.25rem !important;
}
.pt100 {
  padding-top: 6.25rem !important;
}
.pb100 {
  padding-bottom: 6.25rem !important;
}
.pl100 {
  padding-left: 6.25rem !important;
}
.pr100 {
  padding-right: 6.25rem !important;
}
.p110 {
  padding: 6.87rem !important;
}
.pt120 {
  padding-top: 7.5rem !important;
}
/* margin
============================================================*/
.m0 {
  margin: 0 !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.ml0 {
  margin-left: 0 !important;
}
.mr0 {
  margin-right: 0 !important;
}
.m5 {
  margin: 0.31rem !important;
}
.mt5 {
  margin-top: 0.31rem !important;
}
.mb5 {
  margin-bottom: 0.31rem !important;
}
.ml5 {
  margin-left: 0.31rem !important;
}
.mr5 {
  margin-right: 0.31rem !important;
}
.m10 {
  margin: 0.62rem !important;
}
.mt10 {
  margin-top: 0.62rem !important;
}
.mb10 {
  margin-bottom: 0.62rem !important;
}
.ml10 {
  margin-left: 0.62rem !important;
}
.mr10 {
  margin-right: 0.62rem !important;
}
.m15 {
  margin: 0.93rem !important;
}
.mt15 {
  margin-top: 0.93rem !important;
}
.mb15 {
  margin-bottom: 0.93rem !important;
}
.ml15 {
  margin-left: 0.93rem !important;
}
.mr15 {
  margin-right: 0.93rem !important;
}
.m20 {
  margin: 1.25rem !important;
}
.mt20 {
  margin-top: 1.25rem !important;
}
.mb20 {
  margin-bottom: 1.25rem !important;
}
.ml20 {
  margin-left: 1.25rem !important;
}
.mr20 {
  margin-right: 1.25rem !important;
}
.m25 {
  margin: 1.56rem !important;
}
.mt25 {
  margin-top: 1.56rem !important;
}
.mb25 {
  margin-bottom: 1.56rem !important;
}
.ml25 {
  margin-left: 1.56rem !important;
}
.mr25 {
  margin-right: 1.56rem !important;
}
.m30 {
  margin: 1.87rem !important;
}
.mt30 {
  margin-top: 1.87rem !important;
}
.mb30 {
  margin-bottom: 1.87rem !important;
}
.ml30 {
  margin-left: 1.87rem !important;
}
.mr30 {
  margin-right: 1.87rem !important;
}
.m35 {
  margin: 2.18rem !important;
}
.mt35 {
  margin-top: 2.18rem !important;
}
.mb35 {
  margin-bottom: 2.18rem !important;
}
.ml35 {
  margin-left: 2.18rem !important;
}
.mr35 {
  margin-right: 2.18rem !important;
}
.m40 {
  margin: 2.5rem !important;
}
.mt40 {
  margin-top: 2.5rem !important;
}
.mb40 {
  margin-bottom: 2.5rem !important;
}
.ml40 {
  margin-left: 2.5rem !important;
}
.mr40 {
  margin-right: 2.5rem !important;
}
.m45 {
  margin: 2.81rem !important;
}
.mt45 {
  margin-top: 2.81rem !important;
}
.mb45 {
  margin-bottom: 2.81rem !important;
}
.ml45 {
  margin-left: 2.81rem !important;
}
.mr45 {
  margin-right: 2.81rem !important;
}
.m50 {
  margin: 3.12rem !important;
}
.mt50 {
  margin-top: 3.12rem !important;
}
.mb50 {
  margin-bottom: 3.12rem !important;
}
.ml50 {
  margin-left: 3.12rem !important;
}
.mr50 {
  margin-right: 3.12rem !important;
}
.m55 {
  margin: 3.43rem !important;
}
.mt55 {
  margin-top: 3.43rem !important;
}
.mb55 {
  margin-bottom: 3.43rem !important;
}
.ml55 {
  margin-left: 3.43rem !important;
}
.mr55 {
  margin-right: 3.43rem !important;
}
.m60 {
  margin: 3.75rem !important;
}
.mt60 {
  margin-top: 3.75rem !important;
}
.mb60 {
  margin-bottom: 3.75rem !important;
}
.ml60 {
  margin-left: 3.75rem !important;
}
.mr60 {
  margin-right: 3.75rem !important;
}
.m65 {
  margin: 4.06rem !important;
}
.mt65 {
  margin-top: 4.06rem !important;
}
.mb65 {
  margin-bottom: 4.06rem !important;
}
.ml65 {
  margin-left: 4.06rem !important;
}
.mr65 {
  margin-right: 4.06rem !important;
}
.m70 {
  margin: 4.37rem !important;
}
.mt70 {
  margin-top: 4.37rem !important;
}
.mb70 {
  margin-bottom: 4.37rem !important;
}
.ml70 {
  margin-left: 4.37rem !important;
}
.mr70 {
  margin-right: 4.37rem !important;
}
.m75 {
  margin: 4.68rem !important;
}
.mt75 {
  margin-top: 4.68rem !important;
}
.mb75 {
  margin-bottom: 4.68rem !important;
}
.ml75 {
  margin-left: 4.68rem !important;
}
.mr75 {
  margin-right: 4.68rem !important;
}
.m80 {
  margin: 5rem !important;
}
.mt80 {
  margin-top: 5rem !important;
}
.mb80 {
  margin-bottom: 5rem !important;
}
.ml80 {
  margin-left: 5rem !important;
}
.mr80 {
  margin-right: 5rem !important;
}
.m85 {
  margin: 5.31rem !important;
}
.mt85 {
  margin-top: 5.31rem !important;
}
.mb85 {
  margin-bottom: 5.31rem !important;
}
.ml85 {
  margin-left: 5.31rem !important;
}
.mr85 {
  margin-right: 5.31rem !important;
}
.m90 {
  margin: 5.62rem !important;
}
.mt90 {
  margin-top: 5.62rem !important;
}
.mb90 {
  margin-bottom: 5.62rem !important;
}
.ml90 {
  margin-left: 5.62rem !important;
}
.mr90 {
  margin-right: 5.62rem !important;
}
.m95 {
  margin: 5.93rem !important;
}
.mt95 {
  margin-top: 5.93rem !important;
}
.mb95 {
  margin-bottom: 5.93rem !important;
}
.ml95 {
  margin-left: 5.93rem !important;
}
.mr95 {
  margin-right: 5.93rem !important;
}
.m100 {
  margin: 6.25rem !important;
}
.mt100 {
  margin-top: 6.25rem !important;
}
.mb100 {
  margin-bottom: 6.25rem !important;
}
.ml100 {
  margin-left: 6.25rem !important;
}
.mr100 {
  margin-right: 6.25rem !important;
}
.m110 {
  margin: 6.87rem !important;
}

/*============================================================
percent width
============================================================*/
.col25 {
  width: 25%;
}
.col33 {
  width: 33.33%;
}
.col35 {
  width: 35%;
}
.col40 {
  width: 40%;
}
.col50 {
  width: 50%;
}
.col60 {
  width: 60%;
}
.col65 {
  width: 65%;
}
.col100 {
  width: 100%;
}

/*============================================================
text style
============================================================*/
/* font family
============================================================*/
.fw300 {
  font-family: "Spoqa Han Sans", "Nanum Gothic", "Malgun Gothic", "돋움", "dotum", "AppleGothic", Helvetica, Arial, Sans-Serif !important;
  font-weight: 300 !important;
}
.fw400 {
  font-family: "Spoqa Han Sans", "Nanum Gothic", "Malgun Gothic", "돋움", "dotum", "AppleGothic", Helvetica, Arial, Sans-Serif !important;
  font-weight: 400 !important;
}
.fw700 {
  font-family: "Spoqa Han Sans", "Nanum Gothic", "Malgun Gothic", "돋움", "dotum", "AppleGothic", Helvetica, Arial, Sans-Serif !important;
  font-weight: 700 !important;
}
.efw400 {
  font-family: "effra", sans-serif !important;
  font-weight: 400 !important;
}
.efw700 {
  font-family: "effra", sans-serif !important;
  font-weight: 700 !important;
}
/* text align
============================================================*/
.txt-lt {
  text-align: left;
}
.txt-rt {
  text-align: right;
}
.txt-cnt {
  text-align: center;
}

@media (max-width: 575.98px) {
  .txt-lt__mo {
    text-align: left;
  }
  .txt-rt__mo {
    text-align: right;
  }
}
/* text ellipsis
============================================================*/
.txt-elp {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.txt-elp__multi {
  display: -webkit-box;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .txt-elp-multi {
    display: block;
  }
}
/* text indent
============================================================*/
.txt-indent {
  position: relative;
}
.txt-indent .mark {
  position: absolute;
  top: 0;
  left: 0;
  font-style: initial;
}
/* text marking
============================================================*/
.txt-mark {
  display: inline-block;
  position: relative;
  background-color: transparent;
}
.txt-mark:after {
  content: "";
  position: absolute;
}
.txt-mark .label {
  position: relative;
  z-index: 1;
}
/* hidden text
============================================================*/
.txt-hidden {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  /* position: absolute; */
}
/* text break
============================================================*/
.txt-break {
  display: block;
}

@media (max-width: 575.98px) {
  .txt-break {
    display: inline;
  }
  .txt-break__mo {
    display: block;
  }
}

/*============================================================
color palatte
============================================================*/
/* font color
============================================================*/
.fc__white {
  color: #fff !important;
}
.fc__black {
  color: #000 !important;
}
/* background color
============================================================*/
.bc__white {
  background-color: #fff !important;
}
.bc__red {
  background-color: #e43127 !important;
}
.bc__yellow {
  background-color: #fbe54d !important;
}
.bc__black {
  background-color: #300403 !important;
}

/*============================================================
show and hide
============================================================*/
.mo-show {
  display: none !important;
}
@media (max-width: 575.98px) {
  .pc-show {
    display: none !important;
  }
  .mo-show {
    display: block !important;
  }
}

/* 21 04 13 네이블 수정 추가 */
/*============================================================
pagination
============================================================*/
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 3.75rem;
  padding-bottom: 6.25rem;
}
.paging-idx {
  position: relative;
  margin: 0.5rem 5px;
  width: 1.5rem;
  height: 1.5rem;
  /* font-size: 0.8rem; */
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #9a9b9c;
  text-align: center;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font-family: "Hind", sans-serif;
  font-weight: 400;
}
.paging-idx.active {
  font-weight: 700;
  color: #000000;
}
.paging-idx.active::after {
  position: absolute;
  content: "";
  bottom: 1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 10px;
  height: 2px;
  /* background-color: #05141f; */
}
[class^="paging-arw"] {
  width: 1.5rem;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.paging-arw-prev {
  margin-right: 0.5rem;
  opacity: 0.4;
}
.paging-arw-next {
  margin-left: 0.5rem;
}

@media screen and (max-width: 575.98px) {
  .paging-idx {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.1rem;
    line-height: 2.5rem;
  }
  [class^="paging-arw"] {
    width: 2.5rem;
  }
}
/* //21 04 13 네이블 수정 추가 */
